asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
enum34==1.1.6
html5lib==0.999999999
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.3.4
pygobject==3.26.1
pytz==2019.1
requests==2.22.0
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.9.2
urllib3==1.26.5
webencodings==0.5
